

body {



font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    background: #1b325f !important;
}

.clearfix:after {
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    display: block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.file-box {
    padding: 20px;
    background: #f3f3f3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    max-width: 570px;
    margin: 0px auto 0 auto;
}

/*Select*/
.company-select {
    width: 100%;
    padding: 12px 10px;
}

.s-hidden {
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: block;
    position: relative;
    font: normal 16px/22px 'Roboto', Sans-Serif;
    color: black;
    font-weight: 400;
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 8px 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 18px;
    right: 15px;
}

.styledSelect:active, .styledSelect.active {
    background-color: #eee;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
}

.options li:hover {
    background-color: #39f;
    color: white;
}

/*File Upload*/
.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 20px;
}

.custom-file-upload label {
    display: block;
    margin-bottom: 5px;
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

.file-upload-wrapper:after {
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
    content: '';
}

.file-upload-input {
    width: 100%;
    color: #000;
    font-size: 16px;
    padding: 11px 137px 11px 17px;
    font: normal 16px/22px 'Roboto', Sans-Serif;
    border: none;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    float: left; /* IE 9 Fix */
    border: 1px solid #ccc;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.file-upload-input:hover, .file-upload-input:focus {
    background-color: #f3f3f3;
    color: #000;
    outline: none;
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 15px 12px 15px;
    border: none;
    margin-left: -1px;
    background: #1b325f;
    float: right;
    margin-top: -46px; /* IE 9 Fix */
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.file-upload-button:hover {
    opacity: .8;
}

.upload-btn {
    float: right;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 15px 11px 35px;
    border: none;
    margin-left: -1px;
    background: #eb5e22 url(../images/upload.png) no-repeat 15px center;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.upload-btn:hover {
    opacity: .8;
}

.sampledownload {
    margin-right: 412px;
    text-align: right !important;
}

/*Table*/
.table-wrap {
    overflow-x: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.table-list {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.table-list td, .table-list th {
    padding: 10px;
    border: 1px solid #ddd;
}

.table-list th {
    text-align: left;
    background: #e6e6e6;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: 0;
}

.edit {
    border: 0;
    cursor: pointer;
    background: #507c12 url(../images/edit-icon.png) no-repeat center center;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.delete {
    border: 0;
    cursor: pointer;
    background: #b02323 url(../images/delete-icon.png) no-repeat center center;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.download {
    border: 0;
    cursor: pointer;
    background: #d2800c url(../images/download-icon.png) no-repeat center center;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.view {
    border: 0;
    cursor: pointer;
    background: #3280b6 url(../images/view-icon.png) no-repeat center center;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.edit:hover, .delete:hover, .download:hover, .view:hover {
    opacity: .8;
}

/*Save Buttons*/
.button-wrap {
    text-align: right;
}

.btnn {
    display: inline-block;
    text-align: center;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.btnn:hover {
    opacity: .8;
}

.btnn-blue {
    background: #1b325f;
    color: #fff;
}

.btnn-orange {
    background: #eb5e22;
    color: #fff;
}

.save-icon {
    background: #1b325f url(../images/save-icon.png) no-repeat 20px center;
}

.save-check-icon {
    background: #eb5e22 url(../images/save-check.png) no-repeat 20px center;
}

.submit-btn-wrap {
    text-align: center;
}

.btnn.simple-submit {
    padding: 10px 20px;
    margin-top: 10px;
}

/*Responsive*/
@media (max-width: 479px) {
    .btn {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}


/*PAGE 01*/
.work-sheet h2 {
    padding-top: 0;
    margin-top: 0;
    border-bottom: 1px dashed #dadada;
}

.form-row {
    padding-bottom: 10px;
}

.form-row label {
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.form-row input {
    width: 100%;
    color: #000;
    font-size: 16px;
    padding: 6px 10px;
    font: normal 16px/22px 'Roboto', Sans-Serif;
    border: none;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.submit-btn {
    float: right;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    background: #eb5e22;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.backto {
    display: inline-block;
    float: left;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 0px 12px 0px;
    text-decoration: none;

}
.backto i {
    font-size: 18px;
    color: #1b325f;
    margin-right: 2px;
}


/*Navigation*/
body {
    padding: 20px;
    background: #1b325f;
}

.logo {
    float: left;
    padding: 12px 9px 9px 9px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.header {
    background: #fff;
}
/*.navigation	{float: right;}*/
.navigation ul {
    padding: 20px 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.navigation ul li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #dadada;
}

.navigation ul li:last-child {
    padding-right: 0;
    border-right: 1px solid #dadada;
}

.navigation ul li a {
    text-decoration: none;
    font: normal 18px/22px 'Roboto', Sans-Serif;
    color: #222;
    padding: 1px 65px;
    display: inline-block;
    text-transform: uppercase;
}

.navigation ul li a:hover, .navigation ul li.active a {
    color: #eb5e22;
}

/*ReportTable*/
.Reporttable-wrap {
    overflow-x: auto;
    max-width: 900px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.Reporttable-list {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.Reporttable-list td, .table-list th {
    padding: 10px;
    border: 1px solid #ddd;
}

.Reporttable-list th {
    text-align: left;
    background: #e6e6e6;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: 0;
}

.Reporttable-list .edit {
    border: 0;
    cursor: pointer;
    background: #507c12 url(../images/edit-icon.png) no-repeat center center;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.Reporttable-list .delete {
    border: 0;
    cursor: pointer;
    background: #b02323 url(../images/delete-icon.png) no-repeat center center;
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.Reporttable-list .edit:hover, .table-list .delete:hover {
    opacity: .8;
}

/*HEADER*/
.outer-wrapper {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    background: #fff;
}

.footer .copy {
    text-align: center;
    padding: 20px 0;
    text-align: center;
}

.footer-top {
    background: #3a89c9;
    padding: 20px 0;
}

.footer-top .col-1 {
    width: 30%;
    float: left;
    padding-left: 130px;
}

.footer-top .col-1.pl0 {
    padding-left: 0;
}

.footer-top .col-1 iframe {
    width: 100%;
    height: 200px;
}

.footer-top a {
    color: #000;
    text-decoration: none;
}



/*Validation*/
label.error {
    padding: 3px 4px 3px 4px;
    color: #c93605;
    font-weight: bold;
    text-shadow: none;
    font-size: 11px;
}

form input.error {
    border: 1px solid #ED7A53 !important;
}

form input.valid {
    border: 1px solid #9FC569 !important;
}

[title] {
    position: relative;
}

[title]:after {
    content: attr(title);
    color: #fff;
    background: #333;
    background: rgba(51,51,51,0.75);
    padding: 5px;
    position: absolute;
    right: 0;
    opacity: 0;
    bottom: 100%;
    white-space: nowrap;
    -webkit-transition: 0.25s linear opacity;
    z-index:10000;
}

[title]:hover:after {
    opacity: 1;
    z-index:10000;
}


.select-wrap {display: table;position: relative;border-collapse: separate;}
.select-col {width: 100%; display: table-cell; position: relative; z-index: 2; padding-right: 5px;}
.add-button-wrap {display: table-cell;white-space: nowrap;width: 1%;vertical-align: middle; }
.add-button {background: #77a900 url(../images/add-company.png) no-repeat center center; color: #fff; font-weight: bold;font-size: 20px;text-decoration: none; text-align: center; height: 43px; width: 100%; padding:8px 22px; display: block; }
.mergsheet_btn {text-align:right;padding-bottom:10px;}
.report_dw_btn {text-align:right;padding-bottom:10px;}
.sheet_details{
    float:left;
    width:100%;
}
.sheet_details_company{
    float:left;
}
.sheet_details_name{
    float:left;
    margin-left:100px;
}
.sheet_details_created{
    float:left;
    margin-left:100px;
}

.error {
    color: #f00000 !important;
    font-size: 14px;
}

.validation-error {
    border: 1px solid #f00000 !important;
}

.es-error {
    border-color: #f00000 !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.delete_button, .upload_button, .view_button{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 0px 4px;
    border: none;

}
.modal-dialog {
    margin-top: 14%;
}

#report_delete_modal div.modal-body p {
    font-size: 16px;
}

#report_delete_modal div.modal-dialog {
    max-width: 500px;
}

#data_delete_modal div.modal-body p{
    font-size: 16px;
}

#data_delete_modal div.modal-dialog {
    max-width: 500px;
}

table.dataTable thead th {
    border-bottom: 1px solid #f5f5f5 !important;
}

html body table.dataTable.no-footer {
    border: 0px;
}

html body .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #3a89c9;
    background-color: #3a89c9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89c9), color-stop(100%, #3a89c9));
    background: -webkit-linear-gradient(top, #3a89c9 0%, #3a89c9 100%);
    background: -moz-linear-gradient(top, #3a89c9 0%, #3a89c9 100%);
    background: -ms-linear-gradient(top, #3a89c9 0%, #3a89c9 100%);
    background: -o-linear-gradient(top, #3a89c9 0%, #3a89c9 100%);
    background: linear-gradient(to bottom, #3a89c9 0%, #3a89c9 100%);
}

html body .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #3a89c9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a89c9), color-stop(100%, #3a89c9));
    background: -webkit-linear-gradient(top, #3a89c9 0%, #3a89c9 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #3a89c9 0%, #3a89c9 100%);
    box-shadow: inset 0 0 3px #3a89c9;
}

.dataTables_scrollHead {
    background-color: #e6e6e6;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-top: 1px solid black;
}

/*tbody td {*/
/*text-align: center;*/
/*}*/

